---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';

import Link from '../../../components/Link.astro';
import Layout from '../../../layout/Layout.astro';
import GoBackButton from '../../../components/GoBackButton.astro';
import { SITE } from '../../../config';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(post => ({
    params: {
      slug: post.slug,
    },
    props: {
      post: {
        ...post,
        data: {
          ...post.data,
          tags: post.data.tags || [],
        }
      },
    }
  }));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();

const date = dayjs(post.data.pubDate).format('YYYY-MM-DD HH:mm');

const tableOfContents = headings
  .filter((heading) => heading.depth === 2 || heading.depth === 3)
  .map((headings) => ({
    text: headings.text,
    url: `#${headings.slug}`,
    depth: headings.depth === 2 ? 1 : 2,
  }));

---

<Layout
  ogImage={`/blog/${post.slug}.png`}
  head={{ title: `${post.data.title} | ${SITE.title}` }}
>
  <GoBackButton />

  <section class="header">
      <section>
        <h1>{post.data.title}</h1>
        <p>{date}</p>
      </section>
      <section class="tags">
        {post.data.tags.map((tag: string) => (
          <Link href={`/tag/${tag}`}>
            <p>#{tag}</p>
          </Link>
        ))}
      </section>
  </section>

  <article>
    {tableOfContents.length > 0
      ? (
        <details class="toc" open>
          <summary>
            <h2>Table of Contents</h2>
          </summary>
            <ul>
              {tableOfContents.map(({ text, url, depth }) => (
                <li style={{ marginLeft: `${depth * 16}px` }}>
                  <Link href={url}>
                    <p>{text}</p>
                  </Link>
                </li>
              ))}
            </ul>
        </details>
      ): null}

    </section>
    <Content />
  </article>
</Layout>

<style is:global>
  .header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
  }

  .toc {
    gap: var(--spacing-2x);
    background: #f5f5f5;
    padding: var(--spacing-2x);
  }

  .toc summary {
    cursor: pointer;
  }

  .toc summary h2 {
    display: inline;
    margin-left: var(--spacing);
  }

  .toc ul {
    /* TODO: The flexbox seems not working in Chrome. */
    margin-top: var(--spacing-2x);
  }

  article {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  article ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-right: var(--spacing-2x);
  }

  article li {
    margin-left: var(--spacing-2x);
  }

  article ol li {
    list-style-type: decimal;
    margin-left: var(--spacing-4x);
  }

  article ul li {
    list-style-type: disc;
  }

  article code {
    background-color: #24292e;
    color: white;
    padding: 0 4px;
    text-wrap: wrap;
    word-break: break-all;
  }

  article img {
    width: 100%;
  }

  .tags {
    display: flex;
    column-gap: var(--spacing);
  }

  [data-rehype-pretty-code-title] {
    color: var(--color-white);
    padding: var(--spacing);
  }
  [data-rehype-pretty-code-figure] code {
    color: var(--color-white);
    padding: var(--spacing);
    font-size: var(--font-size-md);
    overflow-x: auto;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    margin: var(--spacing) 0;
    white-space: pre-wrap;
    text-wrap: nowrap;
  }

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }

  /* TODO: Why KaTeX are duplicating the code. */
  .katex-html {
    display: none;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table {
    overflow-x: auto;
    border: 1px solid var(--color-primary);
    border-collapse: collapse;
  }

  table tr {
    border: 1px solid var(--color-primary);
  }

  table tr:last-child {
    border-bottom: none;
  }

  table tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.1);
  }

  table th {
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  table th,
  table td {
    padding: var(--spacing) var(--spacing-2x);
  }
</style>
