---
import { getCollection } from 'astro:content';

import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { GITHUB_REPO_URL, TWITTER_URL, GITHUB_PROFILE_URL } from '../config';
import dayjs from 'dayjs';

const posts = await getCollection('blog', ({ data }) => !data.draft);
const postsSorted = posts.sort((a, b) =>
  Math.floor(b.data.pubDate / 1000) -
  Math.floor(a.data.pubDate / 1000)
);

const year = new Date().getFullYear() - 2002;

const links = [
  [
    { href: '/now', title: '/now' },
    { href: '/bookmarks', title: '/bookmarks' },
    { href: '/til', title: '/til' },
    { href: '/tags', title: '/tags' },
    { href: '/changelog', title: '/changelog' },
  ],
];

const [bookmarks] = await getCollection('bookmarks');

const bookmarksSorted = bookmarks.data.data.sort((a, b) =>
  Math.floor(Number(b.savedAt) / 1000) -
  Math.floor(Number(a.savedAt) / 1000)
);

const lastBookmarks = bookmarksSorted.slice(0, 5);

---

<Layout>
  <h1>Noghartt's garden</h1>
  <section class="description">
    <p>
      I'm a {year} year old software engineer from Brazil. With interests in distributed systems, compilers, databases, hardware, PL theory and other cool stuff.
      If you want to reach me, feel free to contact on <Link href={TWITTER_URL}>Twitter</Link> or via <Link href="mailto:hi@noghartt.dev">email</Link>.
    </p>
    <p>
      If you want to see what I'm doing right now, you can check out my <Link href="/now">/now page</Link>. I have a place where I put all the articles
      that I read, you can see it on <Link href="/bookmarks">my bookmarks</Link>. On my <Link href={GITHUB_PROFILE_URL}>GitHub profile</Link> you can find
      all the repositories that I'm working on, and on my <Link href={GITHUB_REPO_URL}>blog repository</Link> you can find the source code of this blog.
    </p>
    <p>
      The blog is under <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE`} isExternal>GNU AGPLv3</Link>
      and <Link href={`${GITHUB_REPO_URL}/blob/main/LICENSE-posts`} isExternal>CC BY-SA 4.0</Link> licenses.
    </p>
  </section>
  <section class="links">
    <h2>Links</h2>
    <div>
      {links.map((section) => (
        <ul>
          {section.map((link) => (
            <li>
              <Link href={link.href}>{link.title}</Link>
            </li>
          ))}
        </ul>
      ))}
    </div>
  </section>

  <section class="archives">
    <section class="posts">
      <h2>Archive</h2>
      <ul>
        {postsSorted.slice(0, 5).map(post => (
          <li>
            <Link href={`/blog/${post.slug}`}>
              {post.data.pubDate.toISOString().split('T')[0]}
              -
              {post.data.title}
            </Link>
          </li>
        ))}
        <li>
          <Link href="/blog">See more posts...</Link>
        </li>
      </ul>
    </section>
    <section class="bookmarks">
      <h2>Last Bookmarks</h2>
      <ul>
        {lastBookmarks.map(bookmark => (
          <li>
            <Link href={bookmark.url}>
              {dayjs(bookmark.savedAt).format('YYYY[-]MM[-]DD')} - {bookmark.title}
            </Link>
          </li>
        ))}
        <li>
          <Link href="/bookmarks">See more bookmarks...</Link>
        </li>
      </ul>
    </section>
  </section>
</Layout>

<style>
  .description {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  .posts ul,
  .bookmarks ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts :global(a),
  .bookmarks :global(a) {
    flex: 1;
    display: flex;
    gap: var(--spacing);
    text-decoration: underline;
  }

  @media screen and (max-width: 425px) {
    .posts ul,
    .bookmarks ul {
      gap: var(--spacing-2x);
    }

    .posts ul li,
    .bookmarks ul li {
      flex-direction: column;
    }
  }

  .links ul li {
    margin-left: var(--spacing-2x);
    list-style-type: disc;
  }

  .archives {
    display: flex;
    gap: var(--spacing-4x);
  }

  @media screen and (max-width: 768px) {
    .archives {

      flex-direction: column;
    }
  }
</style>
