---
import { ViewTransitions } from 'astro:transitions';

import Footer from "../components/Footer.astro";
import { SITE } from '../config';

export interface Props {
  ogImage?: string;
  head?: {
    title?: string;
    description?: string;
  }
}

const {
  ogImage = 'og.png',
  head = {
    title: SITE.title,
    description: SITE.description,
  }
} = Astro.props;

const ogURL = new URL(
  ogImage,
  Astro.url.origin,
).href;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const rssFeedURL = new URL('rss.xml', Astro.site).href;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <title>{head.title}</title>
    <meta name="description" content={head.description} />
    <meta name="author" content={SITE.author} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title={SITE.title} href={rssFeedURL} />

    <meta property="og:title" content={head.title} />
    <meta property="og:description" content={head.description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={head.title} />
    <meta property="twitter:description" content={head.description} />
    <meta property="twitter:image" content={ogURL} />

    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- TODO: Turn KaTeX loading lazyness -->
    <!-- Setup KaTeX -->
    <!-- See more here: https://katex.org/docs/browser.html -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous"> -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script> -->

    <ViewTransitions />

    <script defer src="https://cloud.umami.is/script.js" data-website-id="2fc8746f-8a7b-48ee-b932-1d26da3f83c0"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">-->
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: rgba(0,0,0);
    --color-white: rgba(255,255,255,255);

    --font-size-2sm: 0.625rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.75rem;

    --spacing: 8px;
    --spacing-2x: 16px;
    --spacing-4x: 32px;
    --spacing-8x: 64px;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    /*font-family: "EB Garamond", serif;*/
    font-family: Georgia, serif;
    font-weight: 300;
    min-height: 100vh;
    line-height: 1.5;
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    padding-top: var(--spacing-2x);
    padding-bottom: var(--spacing-2x);
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  p, li {
    text-align: justify;
  }

  li {
    list-style-type: none;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4x);
    position: relative;
  }

  @media screen and (min-width: 769px) {
    body {
      width: 40vw;
    }
  }

  .heading-link {
    text-decoration: none;
    color: var(--color-black);
  }

  .heading-link:hover {
    opacity: 0.65;
  }

  .heading-link::after {
    content: '\00B6';
    margin-left: 0.5rem;
    opacity: 0;
    transition: all 250ms ease-in-out;
  }

  .heading-link:hover::after {
    opacity: 1;
  }

  strong {
    font-weight: bold;
  }
</style>